header{
    background-color: rgb(132, 196, 255);
    background-image: url('../img/pattern.png');
    background-size: contain;
    padding: 40px;
}
body{
    margin: 0px;
}
main{
    margin: auto;
    padding: 30px;
    width: 80%;
}
.hero{
    height: 36px;
    padding-left: 143px;
}
h1{
    margin-bottom: 0px;
    margin-top: 0px;
    font-size: 36px;
}
.info{
    font-size: 10px;
}
.article{
    color: grey;
}
.img{
    margin-top: 20px;
}
.highlight{
    background-color: yellow;
}
ul{
    padding: 15px;
}
.title-table{
    background-color: rgb(80, 172, 241);
}
.line{
    background-color: rgb(198, 221, 252);
}
table{
    table-layout: fixed;
    width: 100%;
    text-align: left;
}
footer{
    background-color: rgb(75, 75, 247);
    text-align: center;
    padding: 20px;
    position: relative;
}